# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 5a67e7d7ac9a876a674e38da81ab5a78839a35806374704d9171e9c732a3831e097dce8f313b8db31dfb2a5e4ef05d0c5eabf7e02f2b979468922301cb764de0

test:
  secret_key_base: 5cbae1a77597dff6ed865a6a45f514aaff67521d585a926f45db59e92695c28bf2c9f93fb7d92dd478e6c689194a57d4fb54047d01b804ee06a3b7508e522d8b

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
